<section id="airdrop">
  <div class="airdropcontent">
     <div class="airdroptxt">
         <div class="airdroptxtitle">
       <h2>AIRDROP</h2>
       <p>We will be distributing</p> 
       <h2>20.000.000 Electhrons</h2>
         </div>
         <div class="airdroptext">
       <p>among all the members of our community. Anyone can participate, anyone can win. You just have to follow the instructions to accumulate more and more Electhrons in your account, earn creature NFTs, utility NFTs or properties in our metaverse.</p>
         </div>
     </div>
   
 <!-- botones -->
 
    <div class="airdropbottoms">
      <hr class="divisor">
       <div class="howtoparticipate">
         <h2>HOW TO PARTICIPATE</h2>
           <div class="howtobottoms">
   <a href="./upload/AIRDROP ELECTHRONS.pdf" class="btn btn-default btn-xl wow tada air">How to participate</a>
   <a href="https://docs.google.com/spreadsheets/d/1575GwybZoIpddOfNxrlKJLD9p9F4-QVBgF3qASuLvG4/edit?usp=sharing" class="btn btn-default btn-xl wow tada air" target="_blank">Check Electhrons</a>
   <a href="https://t.me/AirdropElecthronBot" class="btn btn-default btn-xl wow tada air" target="_blank">Telegram Bot</a>
   <a href="#" class="btn btn-default btn-xl wow tada air">Review airdrops.io</a>
           </div>
       </div>
   <hr class="divisor">
       <div class="howtoparticipate">
         <h2>HOW TO GET YOUR FREE NFT</h2>
         <div class="howtobottoms">
   <a href="#" class="btn btn-default btn-xl wow tada air">Smart contract</a>
   <a href="#" class="btn btn-default btn-xl wow tada air">Mint NFT for free</a>
   <a href="#" class="btn btn-default btn-xl wow tada air">Check on OPENSEA</a>
           </div>
       </div>
       <hr class="divisor">
       <div class="howtoparticipate">
         <h2>HOW TO GET MORE NFTs</h2>
         <div class="howtobottoms">
   <a href="#" class="btn btn-default btn-xl wow tada air">Smart contract</a>
   <a href="#" class="btn btn-default btn-xl wow tada air">Mint more NFT</a>
   <a href="#" class="btn btn-default btn-xl wow tada air">Check on OPENSEA</a>
           </div>
       </div>
     </div>

     <hr class="divisor">
 
 </section>