<section id="airdrop">

    <div class="airdroptxt">
      <h2>AIRDROP</h2></br></br>
      <p>We will be distributing</p> <h2>20,000,000 Electhrons</h2> <p>among all the members of our community. Anyone can participate, anyone can win. You just have to follow the instructions to accumulate more and more Electhrons in your account, earn creature NFTs, utility NFTs or properties in our metaverse.</p>
  
    </div>
  
    <div class="airdropbottoms">
      <div>
        <div>HOW TO PARTICIPATE</div>
          <div>
  <a href="#" class="btn btn-default btn-xl wow tada">how to participate</a>
  <a href="#" class="btn btn-default btn-xl wow tada">Check Electhrons</a>
  <a href="#" class="btn btn-default btn-xl wow tada">telegram bot</a>
  <a href="#" class="btn btn-default btn-xl wow tada">review the airdrops.io</a>
          </div>
      </div>
      <div>
        <div>HOW TO GET YOUR FREE NFT</div>
          <div>
  <a href="#" class="btn btn-default btn-xl wow tada">Smart contract of free NFT</a>
  <a href="#" class="btn btn-default btn-xl wow tada">mint NFT for free</a>
  <a href="#" class="btn btn-default btn-xl wow tada">Check free NFTs on OPENSEA</a>
          </div>
      </div>
      <div>
        <div>HOW TO GET MORE NFTs</div>
          <div>
  <a href="#" class="btn btn-default btn-xl wow tada">smart contract of more nft</a>
  <a href="#" class="btn btn-default btn-xl wow tada">mint more nft</a>
  <a href="#" class="btn btn-default btn-xl wow tada">opensea more nft</a>
          </div>
      </div>
    </div>
  </section>