<section id="airdrop">

    <div class="airdroptxt">
      
      <p>We will be distributing</p> <h2>20,000,000 Electhrons</h2> <p>among all the members of our community. Anyone can participate, anyone can win. You just have to follow the instructions to accumulate more and more Electhrons in your account, earn creature NFTs, utility NFTs or properties in our metaverse.</p>
  
    </div>
  
    <div class="airdropbottoms">
      
  <a href="#" class="btn btn-default btn-xl wow tada">how to participate in the airdrop</a>
  <a href="#" class="btn btn-default btn-xl wow tada">Check the accumulated Electhrons</a>
  <a href="#" class="btn btn-default btn-xl wow tada">Registration bot of your codes</a>
  <a href="#" class="btn btn-default btn-xl wow tada">Smart contract of your free NFT</a>
  <a href="#" class="btn btn-default btn-xl wow tada">mint your NFT for free</a>
  <a href="#" class="btn btn-default btn-xl wow tada">Check the free NFTs on OPENSEA</a>
  <a href="#" class="btn btn-default btn-xl wow tada">smart contract of more nft for the airdrop</a>
  <a href="#" class="btn btn-default btn-xl wow tada">mint more nft for the airdrop</a>
  <a href="#" class="btn btn-default btn-xl wow tada">collection in opensea of more nft for the airdrop</a>
  
    </div>
  </section>