<section id="contact">
    <div class="containersn">
        <div class="rowsn">
            <div class="encabezamiento">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="hr">
                <p>Ready to be part of our hybrid financial ecosystem? That's great, you have all the tools to join our developments! If you have doubts, participate in our social networks or send us an email, asking everything you need to know, we will answer you as soon as possible!</p>
            </div>
		<div class="footsocialnetworks">	
<!--TWITTER ELECTHRON -->
        <div class="redessociales">
            <a href="https://twitter.com/">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>

            </a>
        </div>
<!--TWITTER SOUJIANG -->		
		<div class="redessociales">
            <a href="https://twitter.com/">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
<!--CORREO ELECTRONICO -->
        <div class="redessociales">
            <a href="mailto:">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
<!--INSTAGRAM -->
        <div class="redessociales">
            <a href="https://github.com/">
            <i class="fa fa-instagram fa-3x wow bounceIn".1s"></i>
            </a>
        </div>
<!--DISCORD -->
        <div class="redessociales">
            <a href="https://github.com/">
            <i class="fa-brand fa-discord fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
<!--FACEBOOK -->
        <div class="redessociales">
            <a href="https://github.com/">
            <i class="fa-brand fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
<!--GITHUB -->
        <div class="redessociales">
            <a href="https://github.com/">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

	</div>
	</div>
    </div>
</section>