<section id="contact">
    <div class="containersn">
        <div class="rowsn">
            <div class="encabezamiento">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr>
                <p>Ready to be part of our hybrid financial ecosystem? That's great, you have all the tools to join our developments! If you have doubts, participate in our social networks or send us an email, asking everything you need to know, we will answer you as soon as possible!</p>
            </div>
		<div class="footsocialnetworks">	
<!--TWITTER ELECTHRON -->
        <div class="redessociales">
            <a href="https://twitter.com/Electhrons_ELTH/" target="_blank">
                <img src="./img/logos/twitter.png">
            </a>
        </div>
<!--TWITTER SOUJIANG -->		
		<div class="redessociales">
            <a href="https://twitter.com/Soujiang_ELTH/" target="_blank">
                <img src="./img/logos/twitter.png">
            </a>
        </div>
<!--CORREO ELECTRONICO -->
        <div class="redessociales">
            <a href="mailto:electhronsprojects@gmail.com" target="_blank">
            <img src="./img/logos/email.png">
            </a>
        </div>
<!--INSTAGRAM -->
        <div class="redessociales">
            <a href="https://www.instagram.com/electhrons_elth/" target="_blank">
            <img src="./img/logos/instagram.png">
            </a>
        </div>
<!--DISCORD -->
        <div class="redessociales">
            <a href="https://discord.gg/Zmr7n4SV" target="_blank">
            <img src="./img/logos/discord.png">
            </a>
        </div>
<!--FACEBOOK -->
        <div class="redessociales">
            <a href="https://www.facebook.com/Electhrons-ELTH-109715598323773" target="_blank">
            <img src="./img/logos/facebook.png">
            </a>
        </div>
<!--GITHUB -->
        <div class="redessociales">
            <a href="https://github.com/electhrons" target="_blank">
            <img src="./img/logos/github.png">
            </a>
        </div>
<!--TELEGRAM -->
        <div class="redessociales">
            <a href="https://t.me/electhrons_ELTH" target="_blank">
            <img src="./img/logos/telegram.png">
            </a>
        </div>
	</div>
	</div>
    </div>
</section>