<section id="partners">

    <div class="titlepartners">
      
      <h2>Partners and colaboradores</h2>
    
    </div>
    
    <div class="partnerchips">
      
        <div class="partnersection">

            <img class="imgpartners" src="img/Partners/1inch.png">
            <img class="imgpartners" src="img/Partners/anyswap.png">
            <img class="imgpartners" src="img/Partners/binance.png">
            <img class="imgpartners" src="img/Partners/bisq.png">
            <img class="imgpartners" src="img/Partners/burgerswap.png">
            <img class="imgpartners" src="img/Partners/broex.png">
        </div>

        <div class="partnersection">

          <img class="imgpartners" src="img/Partners/Chainlink.png">
          <img class="imgpartners" src="img/Partners/coingecko.png">
          <img class="imgpartners" src="img/Partners/cryptobuddy.png">
          <img class="imgpartners" src="img/Partners/farmfol.png">
          <img class="imgpartners" src="img/Partners/getblock.png">
          <img class="imgpartners" src="img/Partners/gotbit.png">
          
        </div>

        <div class="partnersection">

          <img class="imgpartners" src="img/Partners/mdex.png">
          <img class="imgpartners" src="img/Partners/PancakeSwap.png">
          <img class="imgpartners" src="img/Partners/polygon-matic.png">
          <img class="imgpartners" src="img/Partners/SushiSwap.png">
          <img src="img/Partners/uniswap.png">
          <img class="imgpartners" src="img/Partners/walletnow.png">

        </div>
    
    </div>
    
    </section>