<section id="partners">

    <div class="titlepartners">
      
      <h2>Partners and colaboradores</h2>
    
    </div>
    
    <div class="partnerchips">
      
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
    
    </div>
    
    </section>