<section class="no-padding" id="platforms">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/DXTREMING.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DXTREMING
                            </div>
                            <div class="project-name">
                                DECENTRALIZED STREAMING SERVICE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/LEERNEN.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                LEERNEN
                            </div>
                            <div class="project-name">
                                DECENTRALIZED AND FAIR EDUCATIONAL PLATFORM
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/FLOTHA.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FLOTHA
                            </div>
                            <div class="project-name">
                                DECENTRALIZED TRANSPORTATION SERVICE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/INBIERTO.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INBIERTO
                            </div>
                            <div class="project-name">
                                DECENTRALIZED INVESTMENT PLATFORM
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/ZUPPLYSHOP.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ZUPPLYSHOP
                            </div>
                            <div class="project-name">
                                DECENTRALIZED E-COMMERCE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/ELECTHRON-CARD.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ELECTHRON CARD
                            </div>
                            <div class="project-name">
                                DECENTRALIZED CREDIT CARD
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
