<section id="services2">
    <div class="container2">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestro ecosistema financiero</h2>
                <hr class="primary">
            </div>
    </div>

    <div class="container2">
                <div class="service-box2">
                    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
                    <h3>Dapps Financieras</h3>
                    <p>Descubre nuevas formas de ganar dinero descentralizadamente</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/MULTIBLOCKCHAIN.png" class="img-responsive" alt="">
                    <h3>Multiblockchain de negocios</h3>
                    <p>Nos comunicamos con las otras blockchain para hacer negocios</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/NFT.png" class="img-responsive" alt="">
                    <h3>NFTs 2.0</h3>
                    <p>La nueva generacion de los NFT llegaron a nuestra blockchain</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/ORACLE.png" class="img-responsive" alt="">
                    <h3>Oraculos</h3>
                    <p>Oraculos de software y hardware de ultima generacion</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/METAVERSO.png" class="img-responsive" alt="">
                    <h3>Metaverso</h3>
                    <p>Un metaverso financiero diseñado para ganar dinero</p>
                </div>
    </div>

</section>
