<section id="descentralization">
    <div class="container2">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our decentralized financial ecosystem</h2>
                <hr class="divisor">
            </div>
    </div>

    <div class="container2">
                <div class="service-box2">
                    <img src="img/portfolio/DAPPS.png" class="img-responsive" alt="">
                    <h3>Financial Dapps</h3>
                    <p>Discover new ways to earn money decentralized</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/MULTIBLOCKCHAIN.png" class="img-responsive" alt="">
                    <h3>Multi-blockchain business</h3>
                    <p>We communicate with the other blockchains to do business</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/NFT.png" class="img-responsive" alt="">
                    <h3>NFTs 2.0</h3>
                    <p>The new generation of NFTs arrived on our blockchain</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/ORACLE.png" class="img-responsive" alt="">
                    <h3>Oracles</h3>
                    <p>State-of-the-art hardware and software Oracles</p>
                </div>
                <div class="service-box2">
                    <img src="img/portfolio/METAVERSO.png" class="img-responsive" alt="">
                    <h3>Metaverse</h3>
                    <p>A financial metaverse designed to make money</p>
                </div>
    </div>
    <hr class="divisor">
</section>
