<section class="teamv" id="team">

    <div class="hiddenteamimg">
        <div class="teamvcont">
            <h2>OUR TEAM</h2>
            <div class="teampeople">
                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

            </div>

            <div class="teampeople">
                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

            </div>

            <div class="teampeople">
                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

            </div>

            <div class="teampeople">
                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

                <div class="people">
                    <img src="../img/team/Moe.png">
                    <h4>NOMBRE</h4>
                    <H5>CARGO</H5>
                </div>

            </div>
            

        </div>
    </div>
</section>