<section id="team">
    <div class="contteam">
         <h2>OUR TEAM<h2>
         
         <div class="peoplegroup">
 <!--GRUPO 1-->	
             <div class="peoplex4">
         
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
             </div>
 <!--GRUPO 2-->				
             <div class="peoplex4">
         
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
             </div>
 <!--GRUPO 3-->	
             <div class="peoplex4">
         
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
             </div>
 <!--GRUPO 4-->	
             <div class="peoplex4">
         
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
                 <div class="peoplex1">
                 <img src="../img/portfolio/DAPPS.png">
                 <h5>NOMBRE</h5>
                 <h6>CARGO</h6>		
                 </div>
                 
             </div>
         
         </div>
    
    </div>
 </section>
 